*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 50%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--text-color-primary); }
  @media screen and (min-width: 43.8em) {
    body {
      background-color: var(--color-primary); } }
  @media screen and (min-width: 72em) {
    body {
      background-color: var(--background-color); } }

.container {
  overflow-x: hidden; }

.btn-search {
  width: 30%;
  background-color: var(--color-tetiary);
  border-radius: 0 6rem 6rem 0;
  cursor: pointer;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 43.8em) {
    .btn-search {
      width: 10%; } }

.btn {
  font-size: 1.7rem;
  height: 4rem;
  width: 12rem;
  border-radius: 7rem;
  font-family: inherit;
  font-weight: 400;
  border: 2px solid var(--color-tetiary);
  color: var(--color-tetiary);
  background: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: var(--color-tetiary);
    color: var(--color-black);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.624); }
  .btn:focus {
    transform: translateY(0.5rem); }

.see-more {
  color: var(--color-tetiary);
  border: none;
  font-weight: 600;
  background: none;
  font-size: 1.4rem;
  margin-right: 2rem;
  cursor: pointer;
  padding: 0 .8rem;
  transition: all .2s; }
  @media screen and (min-width: 43.8em) {
    .see-more {
      padding: 0 1rem; } }
  @media screen and (min-width: 72em) {
    .see-more {
      background-color: var(--color-secondary);
      border-radius: 6rem;
      height: 4rem;
      margin-top: 1%;
      color: var(--color-primary); } }
  .see-more:hover {
    background-color: var(--color-tetiary);
    color: var(--color-secondary); }

.imgs {
  height: 100%;
  width: 100%;
  transform: scale(1.5); }

.add-to-cart {
  font-size: 1.7rem;
  height: 3rem;
  width: 12rem;
  border-radius: 6rem;
  font-family: inherit;
  font-weight: 400;
  border: none;
  background-color: var(--color-tetiary);
  color: var(--color-primary);
  margin-top: 1rem;
  cursor: pointer; }
  .add-to-cart:focus {
    outline: 1px solid var(--color-tetiary); }

.fa {
  font-size: 2rem;
  width: 5rem;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  padding: 1rem;
  background: #3B5998;
  color: white; }

.fa-twitter {
  padding: 1rem;
  background: #55ACEE;
  color: white; }

.icon {
  font-size: 3rem;
  color: var(--color-tetiary); }

.cart {
  color: var(--color-primary); }

.cart-number {
  position: absolute;
  font-size: 1.8rem;
  top: -5%;
  right: -10%;
  padding: .1rem .5rem;
  border-radius: 50%;
  font-weight: 500;
  background-color: var(--color-tetiary);
  text-align: center;
  border: 2px solid var(--color-primary);
  color: var(--color-primary); }

.fa-star-o,
.fa-star {
  width: min-content;
  padding: 0;
  color: var(--color-tetiary); }

.fa-search {
  color: var(--color-primary);
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.cart {
  color: var(--color-primary); }

.block {
  display: none; }
  @media screen and (min-width: 43em) {
    .block {
      display: block; } }

.display {
  display: none; }
  @media screen and (min-width: 18.75em) {
    .display {
      display: block; } }

@media screen and (min-width: 18.75em) {
  .display2 {
    display: none; } }

.fa-credit-card {
  font-size: 2rem;
  font-weight: 600; }

.edit-btn {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(148, 144, 144, 0.904); }
  .edit-btn:focus {
    border: 1px solid var(--color-tetiary); }

.imgs--1 {
  height: 100%;
  width: 100%; }

.nav {
  height: 8rem;
  width: 100%;
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 100000; }
  @media screen and (min-width: 72em) {
    .nav {
      height: 9rem; } }
  .nav__company-name {
    align-self: right;
    height: 20%;
    width: 5%;
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden; }
  .nav .logo {
    width: 100%;
    height: 100%; }
  .nav__second-sec {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (min-width: 43.8em) {
      .nav__second-sec {
        padding: 0 1rem; } }
    @media screen and (min-width: 72em) {
      .nav__second-sec {
        padding: 0 5rem;
        width: 100%; } }
    .nav__second-sec__icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center; }
    .nav__second-sec__img {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      display: block;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center; }
    .nav__second-sec__search-bar {
      height: 80%;
      width: 30%;
      display: flex;
      align-items: center;
      position: relative; }
      @media screen and (min-width: 43.8em) {
        .nav__second-sec__search-bar {
          width: 50%; } }
      .nav__second-sec__search-bar > * {
        height: 100%;
        border: none;
        border: none; }
      .nav__second-sec__search-bar__search {
        width: 75%;
        font-family: inherit;
        padding: 1rem;
        border-radius: 6rem 0 0 6rem; }
        @media screen and (min-width: 43.8em) {
          .nav__second-sec__search-bar__search {
            width: 90%;
            font-size: 2rem;
            padding-left: 3rem; } }
        .nav__second-sec__search-bar__search:focus {
          border: none;
          outline: none; }
    .nav__second-sec__product-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%; }
      @media screen and (min-width: 43.8em) {
        .nav__second-sec__product-login {
          width: 20%;
          justify-content: space-around;
          align-items: center; } }

@media screen and (min-width: 43.8em) {
  .menu {
    position: absolute;
    left: 1%;
    top: 1%; } }

.menu-name {
  display: none; }
  @media screen and (min-width: 43.8em) {
    .menu-name {
      display: block;
      font-size: 2rem;
      color: var(--color-tetiary);
      cursor: pointer; } }

.big {
  display: none; }
  @media screen and (min-width: 72em) {
    .big {
      display: inline-block; } }

.company-name {
  font-family: inherit;
  color: var(--text-color-secondary);
  font-weight: 400; }

.product,
.login h3 {
  font-family: inherit;
  color: var(--text-color-tetiary);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: .2rem;
  transition: all .3s ease-in-out; }
  .product:hover,
  .login h3:hover {
    background-color: var(--color-tetiary);
    color: var(--background-color); }
  @media screen and (min-width: 60em) {
    .product,
    .login h3 {
      font-size: 2rem;
      padding: 1rem; } }

.landingPage-header {
  font-size: 4rem;
  text-shadow: 1rem 1rem 1rem var(--color-black);
  color: white; }

.categories-header {
  display: inline-block;
  padding: .5rem;
  font-size: 1.7rem;
  font-weight: 500;
  border-bottom: 2px solid var(--color-tetiary);
  width: 60%;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--color-secondary); }
  @media screen and (min-width: 72em) {
    .categories-header {
      width: 30%;
      font-size: 1.9rem; } }

.categories-name {
  font-weight: 400; }
  @media screen and (min-width: 43.8em) {
    .categories-name {
      font-size: 2rem;
      position: absolute;
      display: block;
      width: 50%;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-tetiary); } }

.discription {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center; }

.price {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: grey;
  text-align: center; }

.footer-text-1 {
  font-size: 2rem;
  color: var(--color-primary);
  text-align: center; }

.footer-text-2 {
  font-size: 1.7rem;
  color: var(--color-primary);
  text-align: center; }

.product-name {
  font-size: 3rem;
  font-weight: 400;
  display: block;
  color: --color-black; }

.brand {
  font-size: 2.5rem;
  display: block; }
  .brand__title {
    font-size: 2.05rem;
    font-weight: 600; }
  .brand__name {
    font-size: 2rem; }

.product-price {
  font-size: 3.5rem;
  display: block;
  font-weight: 600; }

.shipping {
  font-size: 2.4rem;
  display: block;
  color: var(--color-tetiary); }

.cart-header {
  font-size: 2.3rem;
  color: var(--color-black);
  display: block;
  text-transform: uppercase; }

.greeting {
  display: block;
  font-size: 2rem; }

.user-gmail {
  display: block;
  font-size: 1.8rem; }

.user-amount {
  font-size: 2rem;
  font-weight: 500; }

.user-header {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  color: rgba(148, 144, 144, 0.904); }

.numberOfPeopleRated {
  margin-left: 3rem;
  color: var(--color-blue);
  text-decoration: underline;
  cursor: pointer;
  font: 2rem; }

.section {
  margin-top: 8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 65vh repeat(8, min-content);
  grid-gap: 1.5rem;
  width: 100%; }
  @media screen and (min-width: 43.8em) {
    .section {
      grid-template-rows: 92vh repeat(8, min-content); } }
  .section > * {
    width: 100%; }
  .section__first {
    grid-row: 1;
    width: 100%;
    grid-column: 1 / 9;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.563)), url(../img/back-img.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden; }
    .section__first__big-logo {
      height: 25rem;
      width: 25rem;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .section__first__header {
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      padding-top: 2rem;
      height: 70%;
      width: 100%;
      text-align: center; }
  .section__second {
    grid-column: 1 / span 8;
    grid-row: 2;
    background-color: var(--color-primary);
    padding-bottom: 1rem; }
    @media screen and (min-width: 72em) {
      .section__second {
        margin: 0 2rem; } }
    .section__second__categories {
      text-align: center;
      position: relative; }
      @media screen and (min-width: 43.8em) {
        .section__second__categories {
          width: 15%;
          height: 15rem;
          border-radius: .7rem;
          padding: 1rem;
          background-color: transparent;
          border-radius: 1rem;
          cursor: pointer;
          transition: all .2s;
          background-color: var(--color-secondary); }
          .section__second__categories:hover {
            transform: scale(1.02); } }
      .section__second__categories__icon {
        color: var(--color-secondary); }
        @media screen and (min-width: 43.8em) {
          .section__second__categories__icon {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            font-size: 2rem;
            display: flex;
            align-items: center;
            color: var(--color-primary);
            border: 2px solid var(--color-primary);
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%); } }
  .section__third {
    grid-column: 1 / span 8;
    grid-row: 3;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__third {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__third {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
    .section__third__top-sales {
      height: 90%;
      text-align: center;
      padding: 0rem 1rem; }
      .section__third__top-sales__container {
        height: 35rem;
        width: 49%;
        text-align: center;
        align-items: center;
        position: relative;
        border-radius: .4rem;
        transition: all .2s;
        backface-visibility: hidden; }
        @media screen and (min-width: 72em) {
          .section__third__top-sales__container {
            padding-top: 5%;
            width: 37rem;
            height: 45rem; }
            .section__third__top-sales__container:hover {
              cursor: pointer;
              border: solid var(--color-tetiary) 2px; } }
        .section__third__top-sales__container__img {
          width: 50%;
          height: 50%;
          text-align: center;
          position: relative;
          display: block;
          overflow: hidden;
          margin-left: 25%;
          border-radius: .8rem; }
  .section__fourth {
    grid-column: 1 / span 8;
    grid-row: 4;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__fourth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__fourth {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
  .section__fifth {
    grid-column: 1 / span 8;
    grid-row: 5;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__fifth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__fifth {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
  .section__sixth {
    grid-column: 1 / span 8;
    grid-row: 6;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__sixth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__sixth {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
  .section__seventh {
    grid-column: 1 / span 8;
    grid-row: 7;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__seventh {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__seventh {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
  .section__eighth {
    grid-column: 1 / span 8;
    grid-row: 8;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__eighth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__eighth {
        margin: 0 2rem;
        grid-column: 1/span 8; } }
  .section__nineth {
    grid-column: 1 / span 8;
    grid-row: 9;
    background-color: var(--color-secondary); }
    .section__nineth__footer {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 3rem; }
      .section__nineth__footer__logo {
        height: 90%;
        position: absolute;
        top: 50%;
        right: 100%;
        opacity: .4;
        transform: translate(-50%, -50%); }

:root {
  --background-color: #eaeff8;
  --color-primary: #FFFFFF;
  --color-secondary: #041e42;
  --color-tetiary: #ffc220;
  --color-black: #000000;
  --color-blue: #0071DC;
  --text-color-primary: #000;
  --text-color-secondary: #F5F5F5;
  --text-color-tetiary: #FCED70; }

.u-margin {
  margin-bottom: 10rem; }

.flex {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 43.8em) {
    .flex {
      align-items: center;
      justify-content: space-around; } }

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 72em) {
    .flex-wrap {
      justify-content: space-evenly; } }

.discount {
  height: 3rem;
  line-height: 3rem;
  width: 5rem;
  background-color: var(--color-tetiary);
  position: absolute;
  top: 0;
  right: 15%;
  font-weight: 400;
  text-align: center;
  border-radius: .9rem;
  font-size: 1.8rem;
  z-index: 5;
  color: var(--color-primary); }
  @media screen and (min-width: 72em) {
    .discount {
      top: 10%; } }

.big-logo {
  width: 100%;
  height: 100%; }

.flex-wrap2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.about-product {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 30% 55% 10%;
  grid-gap: 1.5rem;
  padding: 1rem;
  margin: auto;
  height: 80vh; }
  @media screen and (min-width: 33em) {
    .about-product {
      width: 90%;
      margin: auto; } }
  @media screen and (min-width: 50em) {
    .about-product {
      height: 65vh;
      width: 70%;
      grid-template-rows: repeat(14, 5%); } }
  .about-product__img-side {
    grid-column: 3 / 7;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.7rem;
    background-color: var(--color-primary); }
    @media screen and (min-width: 50em) {
      .about-product__img-side {
        grid-column: 1 / 4;
        grid-row: 2/15; } }
  .about-product__discription {
    grid-row: 2;
    grid-column: 1 / 9;
    padding: 2%;
    background-color: var(--color-primary);
    position: relative;
    line-height: 3rem; }
    @media screen and (min-width: 50em) {
      .about-product__discription {
        grid-column: 4 / 9;
        grid-row: 2/13; } }
    .about-product__discription__official {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      background-color: red;
      padding: 1rem;
      color: var(--color-primary); }
    .about-product__discription__product {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 80%;
      margin-top: 3%; }
      .about-product__discription__product__rating {
        height: min-content; }
  .about-product__add {
    grid-column: 1 / 9;
    grid-row: 3;
    background-color: transparent; }
    @media screen and (min-width: 50em) {
      .about-product__add {
        grid-column: 4/9;
        grid-row: 13 / 15;
        display: flex;
        align-items: flex-end;
        justify-content: center; } }
    .about-product__add__btn {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      border: none;
      outline: none;
      font-size: 2rem;
      border-radius: 4.3 xxrem;
      color: var(--color-primary);
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      transition: .2s; }
      @media screen and (min-width: 50em) {
        .about-product__add__btn {
          height: 80%; }
          .about-product__add__btn:hover {
            background-color: var(--color-blue); } }

.user {
  width: 100%; }
  .user__welcome {
    background-color: var(--color-tetiary);
    color: var(--color-primary);
    height: 7rem;
    width: 100%;
    padding: 1rem; }
  .user__wallet {
    height: 4rem;
    width: 100%;
    background-color: var(--color-primary);
    padding: 0 1rem; }
    .user__wallet__container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-secondary); }
  .user__account {
    height: 3rem;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%; }
  .user__activities {
    background-color: var(--color-primary);
    width: 96%;
    margin: 0 auto;
    height: 40rem;
    padding: 2rem; }
    .user__activities__parent {
      list-style: none;
      line-height: 2rem; }
      .user__activities__parent__child {
        border: orangered solid 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--color-black); }
